################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Sales.database/v17
/.vs/Sales.database/FileContentIndex
/obj/Debug
/Sales.database.sqlproj.user
/Import Schema Logs
/Sales.database.dbmdl
/Sales.database.jfm
/bin/Debug
